
#web_bg {
    /* 背景图像的地址（url括号里）  */
    background: url(/image/back.png);
    /* 背景图像不重复 */
    background-repeat: no-repeat;
    /* 背景图像大小 */
    background-size: cover;
}

/*导航栏*/
/*--------------------------------- 菜单居中 -------------------------------------*/
/* 一级菜单居中 */
#nav .menus_items {
    position: absolute !important;
    width: fit-content !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    font-size: 1.2em;
}
/* 子菜单横向展示 */
#nav .menus_items .menus_item:hover .menus_item_child {
    display: flex !important;
}
/* 这里的2是代表导航栏的第2个元素，即有子菜单的元素，可以按自己需求修改 */
.menus_items .menus_item:nth-child(3) .menus_item_child {
    left: -40px;
}
.menus_items .menus_item:nth-child(4) .menus_item_child {
    left: -100px;
}
.menus_items .menus_item:nth-child(5) .menus_item_child {
    left: -100px;
}

/* 导航栏颜色 */
#page-header.nav-fixed #nav {
    /*background: linear-gradient(60deg, #ffd7e4 0, #c8f1ff 93%);*/
    opacity: 0.95;
    backdrop-filter: var(--backdrop-filter);
}
[data-theme="dark"] #page-header.nav-fixed #nav {
    background: rgba(0, 0, 0, 0.95) !important;
}

/**
透明度
 */
/*---------------- 页面样式调节---------------------- */
:root {
    --trans-light: rgba(255, 255, 255, 0.88);
    --trans-dark: rgba(25, 25, 25, 0.88);
    --border-style: 1px solid rgb(169, 169, 169);
    --backdrop-filter: blur(5px) saturate(150%);
}

/* 首页文章卡片 */
#recent-posts > .recent-post-item {
    background: var(--trans-light);
    backdrop-filter: var(--backdrop-filter);
    border-radius: 25px;
    border: var(--border-style);
}

/* 首页侧栏卡片 */
#aside-content .card-widget {
    background: var(--trans-light);
    backdrop-filter: var(--backdrop-filter);
    border-radius: 18px;
    border: var(--border-style);
}

/* 文章页、归档页、普通页面 */
div#post,
div#page,
div#archive {
    background: var(--trans-light);
    backdrop-filter: var(--backdrop-filter);
    border: var(--border-style);
    border-radius: 20px;
}

/* 导航栏 */
#page-header.nav-fixed #nav {
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: var(--backdrop-filter);
}

[data-theme="dark"] #page-header.nav-fixed #nav {
    background: rgba(0, 0, 0, 0.7) !important;
}

/* 夜间模式遮罩 */
[data-theme="dark"] #recent-posts > .recent-post-item,
[data-theme="dark"] #aside-content .card-widget,
[data-theme="dark"] div#post,
[data-theme="dark"] div#archive,
[data-theme="dark"] div#page {
    background: var(--trans-dark);
}

/*
文章双栏
 */
/* 翻页按钮居中 */
#pagination {
    width: 100%;
    margin: auto;
}

.icon-bilibili:before {
    content: "\e600";
}
/* 卡片处小图标 */
.card_icon {
    /* 修改颜色 */
    color: blue;
    /* 修改大小 */
    font-size: 30px;
}
/* social 图标end */

/* 个人信息卡片背景图 */

/* 个人卡片信息 */
[data-theme="light"] #aside-content > .card-widget.card-info {
    background-image: url(/image/headback.png);
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-size: 100%;
}
[data-theme="dark"] #aside-content > .card-widget.card-info {
    background-image: url(/image/headback.png);
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-size: 100%;
}
#aside-content .card-widget {
    position: relative;
    overflow: hidden;
    margin-top: 20px;
    padding: 24px 24px;
}
/**
公告栏样式
 */
/* 欢迎信息 */
#welcome-info {
    background: linear-gradient(45deg, #b9f4f3, #e3fbf9);
    border-radius: 18px;
    padding: 8px;
}
[data-theme="dark"] #welcome-info {
    background: #212121;
}


/* 文章页H1-H6图标样式效果 */
/* 控制风车转动速度 4s那里可以自己调节快慢 */
h1::before,
h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
    -webkit-animation: ccc 4s linear infinite;
    animation: ccc 4s linear infinite;
}
/* 控制风车转动方向 -1turn 为逆时针转动，1turn 为顺时针转动，相同数字部分记得统一修改 */
@-webkit-keyframes ccc {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(-1turn);
        transform: rotate(-1turn);
    }
}
@keyframes ccc {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(-1turn);
        transform: rotate(-1turn);
    }
}
/* 设置风车颜色 */
#content-inner.layout h1::before {
    color: #ef50a8;
    margin-left: -1.55rem;
    font-size: 1.3rem;
    margin-top: -0.23rem;
}
#content-inner.layout h2::before {
    color: #fb7061;
    margin-left: -1.35rem;
    font-size: 1.1rem;
    margin-top: -0.12rem;
}
#content-inner.layout h3::before {
    color: #ffbf00;
    margin-left: -1.22rem;
    font-size: 0.95rem;
    margin-top: -0.09rem;
}
#content-inner.layout h4::before {
    color: #a9e000;
    margin-left: -1.05rem;
    font-size: 0.8rem;
    margin-top: -0.09rem;
}
#content-inner.layout h5::before {
    color: #57c850;
    margin-left: -0.9rem;
    font-size: 0.7rem;
    margin-top: 0rem;
}
#content-inner.layout h6::before {
    color: #5ec1e0;
    margin-left: -0.9rem;
    font-size: 0.66rem;
    margin-top: 0rem;
}
/* s设置风车hover动效 6s那里可以自己调节快慢*/
#content-inner.layout h1:hover,
#content-inner.layout h2:hover,
#content-inner.layout h3:hover,
#content-inner.layout h4:hover,
#content-inner.layout h5:hover,
#content-inner.layout h6:hover {
    color: var(--theme-color);
}
#content-inner.layout h1:hover::before,
#content-inner.layout h2:hover::before,
#content-inner.layout h3:hover::before,
#content-inner.layout h4:hover::before,
#content-inner.layout h5:hover::before,
#content-inner.layout h6:hover::before {
    color: var(--theme-color);
    -webkit-animation: ccc 6s linear infinite;
    animation: ccc 6s linear infinite;
}
/*--- 图片圆角 -------*/
/* 下一篇文章的圆角 */
.relatedPosts > .relatedPosts-list > div,
#pagination.pagination-post,
.postImgHover img,
#pagination .prev-post img,
#pagination .next-post img,
.relatedPosts > .relatedPosts-list > div img {
    border-radius: 12px;
}
/*--- 文章页H1-H6图标样式效果end ---*/
/*---------------- 页面样式调节---------------------- */
/*-------------------------- 菜单居中end -----------------------------*/
/*!* 文章页背景 *!*/
/*.layout_post>#post {*/
/*    !* 以下代表透明度为0.5 可以自行修改*!*/
/*    background: rgba(255,255,255,.5);*/
/*}*/

/*!* 所有页面背景 *!*/
/*#aside_content .card-widget, #recent-posts>.recent-post-item, .layout_page>div:first-child:not(.recent-posts), .layout_post>#page, .layout_post>#post, .read-mode .layout_post>#post{*/
/*    !* 以下代表透明度为0.5 *!*/
/*    background: rgba(255,255,255,.5);*/
/*}*/



/* 头像呼吸灯 */
[data-theme="light"] .avatar-img {
    animation: huxi_light 4s ease-in-out infinite;
}
[data-theme="dark"] .avatar-img {
    animation: huxi_dark 4s ease-in-out infinite;
}
@keyframes huxi_light {
    0% {
        box-shadow: 0px 0px 1px 1px #e9f5fa;
    }
    50% {
        box-shadow: 0px 0px 5px 5px #e9f5fa;
    }
    100% {
        box-shadow: 0px 0px 1px 1px #e9f5fa;
    }
}
@keyframes huxi_dark {
    0% {
        box-shadow: 0px 0px 1px 1px #39c5bb;
    }
    50% {
        box-shadow: 0px 0px 5px 5px #39c5bb;
    }
    100% {
        box-shadow: 0px 0px 1px 1px #39c5bb;
    }
}



/* 右键菜单 */
#rightMenu {
    display: none;
    position: fixed;
    width: 160px;
    height: fit-content;
    top: 10%;
    left: 10%;
    /* 菜单面板背景色 */
    background-color: var(--card-bg);
    /* 菜单面板文字颜色 */
    border: 1px solid var(--font-color);
    border-radius: 8px;
    z-index: 100;
}
#rightMenu .rightMenu-group {
    padding: 7px 6px;
}
#rightMenu .rightMenu-group:not(:nth-last-child(1)) {
    border-bottom: 1px solid var(--font-color);
}
#rightMenu .rightMenu-group.rightMenu-small {
    display: flex;
    justify-content: space-between;
}
#rightMenu .rightMenu-group .rightMenu-item {
    height: 30px;
    line-height: 30px;
    border-radius: 8px;
    transition: 0.3s;
    color: var(--font-color);
}
#rightMenu .rightMenu-group.rightMenu-line .rightMenu-item {
    display: flex;
    height: 40px;
    line-height: 40px;
    padding: 0 4px;
}
#rightMenu .rightMenu-group .rightMenu-item:hover {
    /* 鼠标悬浮选项颜色 */
    background-color: var(--text-bg-hover);
}
#rightMenu .rightMenu-group .rightMenu-item i {
    display: inline-block;
    text-align: center;
    line-height: 30px;
    width: 30px;
    height: 30px;
    padding: 0 5px;
}
#rightMenu .rightMenu-group .rightMenu-item span {
    line-height: 30px;
}

#rightMenu .rightMenu-group.rightMenu-line .rightMenu-item * {
    height: 40px;
    line-height: 40px;
}
.rightMenu-group.hide {
    display: none;
}


/**
头像状态
 */
.card-info-avatar .author-status-box {
    position: absolute;
    bottom: 0;
    left: calc(100% - 28px);
    width: 28px;
    height: 28px;
    border: 1px solid #d0d7de;
    border-radius: 2em;
    background-color: #f8f8f8f8;
    transition: 0.4s;
    overflow: hidden;
}

[data-theme="dark"] .card-info-avatar .author-status-box {
    background-color: #222222f2;
    border: 1px solid #5c6060;
}

.card-info-avatar .author-status-box .author-status {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 28px;
    padding: 0 5px;
}

.card-info-avatar .author-status-box:hover {
    width: 105px;
}

.card-info-avatar .author-status-box:hover .author-status span {
    width: 105px;
    margin-left: 4px;
}

.card-info-avatar .author-status-box .author-status span {
    width: 0;
    font-size: 12px;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: 0.4s;
}

.card-widget .card-info-avatar {
    display: inline-block;
    position: relative;
}

/* 新年侧边栏 */

#newYear {
    color: white;
    padding: 0 !important;
}

#newYear p,
#newYear h3 {
    font-weight: normal;
    color: inherit;
    margin: 0;
}

#newYear .item-headline {
    display: none;
}

#newYear-main {
    min-height: 160px;
    padding: 1rem;
    position: relative;
    border-radius: 12px;
    background-image: url(/image/xinnian.png);
    background-size: cover;
    background-position: center;
}

#newYear-main * {
    position: relative;
    line-height: 1.3;
}

#newYear-main .newYear-time {
    font-weight: bold;
    text-align: center;
}

#newYear-main .time,
#newYear-main .happyNewYear {
    font-size: 3.5rem;
    margin: 1rem 0;
    display: block;
}

#newYear-main .day {
    font-size: 5rem;
}

#newYear-main .day .unit {
    font-size: 1rem;
}

#newYear-main .mask {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .1);
}
/**
文章卡片擦亮
 */
#recent-posts > .recent-post-item .post_cover {
    position: relative;
}
#recent-posts>.recent-post-item .post_cover::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.5);
    content: '';
    -webkit-transition: -webkit-transform .3s;
    -moz-transition: -moz-transform .3s;
    -o-transition: -o-transform .3s;
    -ms-transition: -ms-transform .3s;
    transition: transform .3s;
    -webkit-transform: scale3d(2,1,1) rotate(60deg) translate3d(15%,-150%,0);
    -moz-transform: scale3d(2,1,1) rotate(60deg) translate3d(15%,-150%,0);
    -o-transform: scale3d(2,1,1) rotate(60deg) translate3d(15%,-150%,0);
    -ms-transform: scale3d(2,1,1) rotate(60deg) translate3d(15%,-150%,0);
    transform: scale3d(2,1,1) rotate(60deg) translate3d(15%,-150%,0);
}
#recent-posts>.recent-post-item .post_cover:hover::after {
    -webkit-transform: scale3d(2,1,1) rotate(60deg) translate3d(0,130%,0);
    -moz-transform: scale3d(2,1,1) rotate(60deg) translate3d(0,130%,0);
    -o-transform: scale3d(2,1,1) rotate(60deg) translate3d(0,130%,0);
    -ms-transform: scale3d(2,1,1) rotate(60deg) translate3d(0,130%,0);
    transform: scale3d(2,1,1) rotate(60deg) translate3d(0,130%,0);
}

/* 分类带框 */
.category-lists ul li {
    display: flex;
    width: fit-content;
    font-size: 1.2em !important;
    padding: 0.2em 0.5em;
    background: #fff;
    margin: 0.5em 0.5em;
    border-radius: 12px;
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    border: 1.5px solid #e3e8f7;
    box-shadow: 0 8px 16px -4px #2c2d300c !important;
    align-items: center;
    font-size: 18px !important;
}

.category-lists .category-list {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    margin: 5em 0 3em;
}
/**
标签带框
 */
.tag-cloud-list a {
    width: fit-content;
    font-size: 1.2em !important;
    padding: 0.2em 0.5em;
    background: #fff;
    margin: 0.5em 0.5em;
    border-radius: 12px;
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    border: 1.5px solid #e3e8f7;
    box-shadow: 0 8px 16px -4px #2c2d300c !important;
    align-items: center;
    font-size: 18px !important;
}
.tag-cloud-list.is-center {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    margin: 5em 0 3em;
}
/**
关于页面
 */
.post-reward .reward-button {
    display: inline-block;
    padding: 4px 24px;
    background: var(--btn-bg);
    color: var(--btn-color);
    cursor: pointer;
}
.post-reward:hover .reward-button {
    background: var(--btn-hover-color);
}
.post-reward:hover .reward-button>.reward-main {
    display: block;
}
.post-reward .reward-main {
    position: absolute;
    bottom: 40px;
    left: -23%;
    z-index: 100;
    display: none;
    padding: 0 0 15px;
}
.post-reward .reward-main .reward-all {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    margin: 0;
    padding: 20px 10px;
    border-radius: 4px;
    background: var(--reward-pop);
}
.post-reward .reward-main .reward-all:before {
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 20px;
    content: '';
}
.post-reward .reward-main .reward-all:after {
    position: absolute;
    right: 0;
    bottom: 2px;
    left: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: 13px solid var(--reward-pop);
    border-right: 13px solid transparent;
    border-left: 13px solid transparent;
    content: '';
}
.post-reward .reward-main .reward-all .reward-item {
    display: inline-block;
    padding: 0 8px;
    list-style-type: none;
    vertical-align: top;
}
.post-reward .reward-main .reward-all .reward-item img {
    width: 130px;
    height: 130px;
}
.post-reward .reward-main .reward-all .reward-item .post-qr-code-desc {
    width: 130px;
    color: #858585;
}
.author-content-item.single.reward .reward-list-updateDate {
    color: var(--icat-gray);
    font-size: 14px;
}
#console.reward-show,#console.show {
    opacity: 1;
    pointer-events: all;
}
#console.reward-show .console-mask,#console.show .console-mask {
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: blur(20px);
}
.about-reward {
    position: absolute;
    top: 1rem;
    right: 2rem;
}
.reward #con {
    position: relative;
    width: 350px;
    height: 85px;
    border-radius: 4px;
}
.reward #TA-con {
    position: absolute;
    top: 50%;
    left: 10%;
    width: 157px;
    height: 50px;
    border-radius: 4px;
    background-color: #f25d8e;
    box-shadow: 0 4px 4px rgba(255,112,159,.3);
    cursor: pointer;
    transform: translateY(-50%);
}
.reward #text-con {
    position: relative;
    margin: 0 auto;
    width: 100px;
    height: 100%;
}
.reward #linght {
    position: absolute;
    top: 36%;
    left: 4px;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 10px;
    border-top: 10px solid #fff;
    border-radius: 4px;
    transform: rotate(-55deg);
}
.reward #linght::after {
    position: absolute;
    top: -13px;
    left: -11px;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 10px;
    border-top: 10px solid #fff;
    border-radius: 4px;
    content: "";
    transform: rotate(180deg);
}
.reward #TA {
    float: right;
    color: #fff;
    font-size: 15px;
    line-height: 50px;
}
.reward #TA-con:hover {
    background-color: #ff6b9a;
}
.reward #tube-con {
    position: absolute;
    top: 15px;
    right: -5px;
    width: 157px;
    height: 55px;
}
.reward svg {
    width: 100%;
    height: 100%;
}
.reward #mask {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: all .5s;
}
.reward #mask svg {
    width: 157px;
    height: 55px;
}
.reward #TA-con:hover+#tube-con>#mask {
    width: 157px;
}
.reward #TA-con:hover+#tube-con>#orange-mask {
    animation: move1 .5s linear .2s infinite;
}
.reward #TA-con:hover+#tube-con>#orange-mask svg {
    animation: movetwo .5s linear .2s infinite;
}
.reward #orange-mask {
    position: absolute;
    top: 0;
    left: -15px;
    overflow: hidden;
    width: 18px;
    height: 100%;
}
.reward #orange-mask svg {
    position: absolute;
    top: 0;
    left: 15px;
    width: 157px;
    height: 55px;
}
@keyframes move1 {
    0% {
        left: -15px;
    }
    100% {
        left: 140px;
    }
}
@keyframes movetwo {
    0% {
        left: 15px;
    }
    100% {
        left: -140px;
    }
}
.reward #people {
    position: absolute;
    top: 4px;
    right: 10px;
    color: #aaa;
    font-size: 12px;
    font-family: "雅黑";
}
.reward #people>b {
    color: #777;
}

@media screen and (min-width:768px) and (max-width:896px) {
    .author-content-item.like-music .content-bottom .tips {
        display: none;
    }
}
@media screen and (max-width:768px) {
    .post-reward {
        display: none;
    }
    .layout>div:first-child:not(.recent-posts) {
        padding: 1rem 1rem!important;
        box-shadow: none!important;
    }
    #selfInfo-content-year {
        width: 90px;
    }
    .console-card-group-reward .reward-all .reward-item img {
        width: 130px;
        height: 130px;
    }
    .reward .about-reward #con {
        width: 170px;
    }
    .reward #tube-con {
        display: none;
    }
}
/* 响应式 */

/* 打赏充电样式 */
/*----------------------------- 页脚样式 -----------------------------------*/

/* tzy页脚样式 begin   */
#ft {
    max-width: 1200px;
    margin: 0 auto 12px;
    display: flex;
    color: rgb(255 255 255 / 80%) !important;
    text-align: left;
    flex-wrap: wrap;
}

.ft-item-1,
.ft-item-2 {
    display: flex;
    height: 100%;
    padding: 2px 14px;
}

.ft-item-1 {
    flex-direction: column;
    flex: 2;
}

.ft-item-2 {
    flex: 1;
    flex-direction: column;
}

.t-top {
    display: flex;
}

.t-top .t-t-l {
    display: flex;
    flex-direction: column;
    flex: 1.4;
    margin-right: 10px;
}

.t-top .t-t-l .bg-ad {
    width: 85%;
    border-radius: 10px;
    padding: 0 10px;
}

.btn-xz-box {
    margin-top: 10px;
}

/* 按钮背景颜色等 */
.btn-xz {
    display: block;
    background-color: var(--btn-bg);
    color: var(--btn-color);
    text-align: center;
    line-height: 2.4;
    margin: 8px 0;
}

.btn-xz:hover {
    text-decoration: none !important;
}
/* 按钮悬浮颜色 */
.btn-xz-box:hover .btn-xz {
    background-color: var(--text-bg-hover);
}

.t-top .t-t-r {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.ft-links {
    padding: 0 14px;
    list-style: none;
    margin-top: 0 !important;
}

.ft-links li a {
    display: inline-block !important;
    width: 50%;
}
/* 链接悬浮颜色 */
.ft-links li a:hover {
    text-decoration: none !important;
    color: var(--theme-color) !important;
}

.ft-item-2 .ft-img-group {
    width: 100%;
}

.ft-t {
    font-size: 1.1rem;
    margin-bottom: 20px;
    line-height: 1;
    font-weight: 600;
}

.t-l-t {
    padding-left: 14px;
}

.ft-item-2 .ft-img-group .img-group-item {
    display: inline-block;
    width: 18.4%;
    margin-right: 14px;
    margin-bottom: 6px;
}

.ft-item-2 .ft-img-group .img-group-item a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.ft-item-2 .ft-img-group .img-group-item a img {
    width: 100%;
    max-height: 80px;
    border-radius: 10px;
}
/* 头像悬浮颜色框 */
.ft-item-2 .ft-img-group .img-group-item a img:hover {
    border: 2px solid var(--theme-color);
}

@media screen and (max-width: 768px) {
    .ft-item-1 {
        flex-basis: 100% !important;
    }

    .ft-item-2 {
        flex-basis: 100% !important;
    }

    .t-top .t-t-l .bg-ad {
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    .t-top {
        flex-wrap: wrap;
    }

    .t-top .t-t-l {
        flex-basis: 100% !important;
    }

    .t-top .t-t-r {
        margin-top: 16px;
        flex-basis: 100% !important;
    }
}
#footer-wrap a {
    border-radius: 30px;
}
#footer-wrap {
    padding: 20px 20px;
}

/* 页脚心跳动画 */
#heartbeat {
    color: red;
    animation: iconAnimate 1s ease-in-out infinite;
}
@-moz-keyframes iconAnimate {
    0%,
    100% {
        transform: scale(1);
    }
    10%,
    30% {
        transform: scale(0.9);
    }
    20%,
    40%,
    60%,
    80% {
        transform: scale(1.1);
    }
    50%,
    70% {
        transform: scale(1.1);
    }
}
@-webkit-keyframes iconAnimate {
    0%,
    100% {
        transform: scale(1);
    }
    10%,
    30% {
        transform: scale(0.9);
    }
    20%,
    40%,
    60%,
    80% {
        transform: scale(1.1);
    }
    50%,
    70% {
        transform: scale(1.1);
    }
}
@-o-keyframes iconAnimate {
    0%,
    100% {
        transform: scale(1);
    }
    10%,
    30% {
        transform: scale(0.9);
    }
    20%,
    40%,
    60%,
    80% {
        transform: scale(1.1);
    }
    50%,
    70% {
        transform: scale(1.1);
    }
}
@keyframes iconAnimate {
    0%,
    100% {
        transform: scale(1);
    }
    10%,
    30% {
        transform: scale(0.9);
    }
    20%,
    40%,
    60%,
    80% {
        transform: scale(1.1);
    }
    50%,
    70% {
        transform: scale(1.1);
    }
}
/*----------------------------- end -----------------------------------*/
